.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s ease-out;
  background-color: rgb(29, 29, 58);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.13);
  animation: popUp 0.4s ease-out;
}

.container:hover {
  background-color: rgb(44, 44, 121);
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fafafa;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.icon:hover {
  transform: scale(1.1);
}

@keyframes popUp {
  from {
    opacity: 0;
    margin-bottom: -3rem;
  }

  to {
    opacity: 1;
    margin-bottom: 0.5rem;
  }
}
