:root {
  /* ANIMATION */
  --animation-duration: 0.4s;
  --animation-easing: ease-in-out

  /* COLORS */
  --primary-color: rgb(105, 11, 255);
  --secondary-color: rgb(31, 199, 59);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  background-color: #111117;
}

#__next {
  height: 100vh;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 2, 12, 0.85) !important;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
  width: 100%;
  max-width: 450px;
  inset: 0px !important;
  position: relative !important;
  padding: 4rem 0rem !important;
  background-color: rgb(228, 235, 248) !important;
  margin: 2rem;
}
