.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
}

.header {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-bottom: 1px solid #fafafa;
  margin: 0rem 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fafafa;
  cursor: pointer;
}

.createBtn {
  padding: 0.85rem 1.25rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fafafa;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

.main {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.subtitle {
  color: #ebe5e5;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.breadcrumbsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0rem 0.5rem;
  margin-bottom: 0.5rem;
}

.createFolderBtn {
  border: 1px solid rgb(31, 199, 59);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--animation-duration) ease-in-out;
}

.createFolderBtn:hover {
  background-color: rgb(31, 199, 59);
  color: #131313;
  font-weight: 900;
  transform: scale(1.05);
}
