.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 2rem;
}

.header {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  margin: 1rem 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fafafa;
  cursor: pointer;
}

.createBtn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #fafafa;
  background-color: rgb(105, 11, 255);
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: all 0.4s ease-in-out;
}

.createBtn:hover {
  transform: scale(1.07);
}

.main {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.subtitle {
  color: #ebe5e5;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.breadcrumbsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0rem 0.5rem;
  margin-bottom: 1rem;
}

.projectsIcon {
  margin-right: 0.5rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: projectsIconAnimation 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.projectsIcon:hover {
  transform: scale(1.1);
}

.createFolderBtn {
  border: 2px solid rgb(31, 199, 59);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.createFolderBtn:hover {
  background-color: rgb(31, 199, 59);
  color: #131313;
  transform: scale(1.05);
}

.breadcrumbsProjectName {
  margin-left: 0.5rem;
  font-weight: 500;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #fafafa;
  font-size: 0.9rem;
  font-size: 700;
}

@keyframes projectsIconAnimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
