.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-bottom: 1px solid #fafafa;
  margin: 0rem 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fafafa;
}

.createBtn {
  padding: 0.85rem 1.25rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fafafa;
  background-color: rgb(105, 11, 255);
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

.main {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.subtitle {
  color: #ebe5e5;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}
