.container {
  width: 100%;
  background-color: rgba(53, 52, 52, 0.226);
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 2px solid rgba(64, 64, 214, 0.699);
  box-shadow: 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.025);
  overflow: hidden;
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0rem 0.5rem;
}

.tableHeader > h1 {
  display: flex;
  flex: 1;
  color: #fafafa;
  font-size: 1.25rem;
  font-weight: 700;
}
